# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Env
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docs
README.md
*.md
docs/
